.home {
  margin: 0;
  padding: 0;
}

.content-section {
  width: 100vw;
  height: 100%;
  align-items: center;
}

:root {
  --main_red: #ff2a2b;
  --main_yellow: #fe3bd4;
  --verysoft_yellow: #fef5f5;
  --main_dark: #2e2e2e;

  --fz_sm: 14px;
  --fz_md: 16px;
  --fz_lg: 18px;
  --fz_xxlg: 24px;
}

html {
  font-family: 'Inter', sans-serif;
}

/*################*/
/*General Classes*/
/*################*/

.container {
  width: 80%;
  max-width: 1200px;

  margin: 0px auto;
}

.btn {
  border: 1px transparent;
  background-color: white;
  padding: 0.8em 1.4em;
  border-radius: 16px;
  text-transform: uppercase;
  cursor: pointer;

  display: inline-block;

  transition: all 0.3s ease;
}

.btn--primary:hover {
  background: var(--main_yellow);
  color: white;
}

.btn--secondary {
  border: 1px solid var(--main_red);
  background: var(--main_red);
  color: white;

  
}

.btn--secondary--transparent {
  background: transparent;
  border: 1px solid var(--main_red);
  color: var(--main_red);
}

.subtitle {
  font-size: var(--fz_lg);
  text-transform: uppercase;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px var(--main_dark);
}

.page-section {
  margin: 24px 0;
}


/*##############################*/
/*Modified general classes*/
/*##############################*/
.btn--black {
  background-color: var(--main_yellow);
  color: white;
}

.subtitle--providers {
  color: var(--main_dark);
}

/*#####################################*/
/*START index.html*/
/*#####################################*/

/*##############################*/
/*Hero container*/

.hero {
  height: calc(100vh - 60px); 
  width: 100vw;
  background: url('Images/bg_desktop.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;

}

.hero__content {
  width: 50%; 
  display: flex;
  flex-direction: column;

  align-items: center; 
  text-align: center; 

  font-size: 2vw; 
}

.hero__logo {
  width: 80%;
}

.hero__text {
  font-size: 1em; 
  font-weight: 300;
}

.btn--hero {
  font-size: 0.6em; 
}

/*#####################################*/
/* Categories sections*/

.catContainer {
  margin-top: 40px;
}

.bannerCategories {
  background-color: var(--main_yellow);
  height: 25vh;
  text-align: center;
  border-radius: 16px;
}

.subtitle--cat {
  padding-top: 5vh;
}

.subtitle {
  color: white;
  font-size: var(--fz_md);
}

.circlesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin-top: -12vh;
  margin-bottom: 32px;
}

.circle {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgRounded {
  width: 180px;
  height: 180px; /* Ensure the image is square */
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 16px;
}

.descripCateg {
  text-align: center;
  font-size: var(--fz_md);
}

.a__catContainer {
  text-decoration: none;
  color: var(--main_dark);
}

/*#####################################*/
/*END index.html*/
/*#####################################*/

/*###############*/
/*Media queries*/
/*###############*/

@media (max-width: 768px) {
  .btn {
      font-size: var(--fz_sm);
  }

  /*Hero section*/
  .hero {
      background: url('/Images/bg_mobile.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      display: block; /*Se quita el flex*/

      padding-top: 4vh;
  }

  .hero__content {
      width: 80%;
      margin-right: auto;
      margin-left: auto;
  }

  .hero__logo {
      width: 100%;
  }

  .hero__text {
      font-size: 6vw;
  }

  .btn--hero {
      font-size: 4vw;
      width: max-content;
  }

  /* NAVBAR */
  .btn--primary {
      background: #ffd381;
      color: rgb(33, 33, 33);
      width: fit-content;
  }

  .current-page p {
    text-decoration: underline;
  }

  .nav__navigation {
      flex-direction: column;
      align-items: center;
      margin: 0;
      gap: 4px;
      background-color: var(--main_yellow);
      position: fixed;
      left: 0;
      top: 60px;
      width: 100%;
      padding: 20px 0;
      height: calc(100% - 60px);
      overflow-y: auto;

      left: 100%;
      transition: left 0.3s;

      z-index: 1;
  }

  .nav__item {
      width: 80vw;
      text-align: center;
  }

  nav .wrap-menu {
      display: block;
      background: var(--main_yellow);
      border-radius: 22px;
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .nav__navigation_visible {
      left: 0;
      z-index: 9999;
  }

  .body__fixed {
      position: fixed;
  }

  /* Categories */

}

@media (max-width: 300px) {

  :root {
      --fz_sm: 10px;
      --fz_md: 12px;
      --fz_lg: 14px;
      --fz_xxlg: 20px;
  }

  .nav__logo {
      max-width: 40vw;
  }

  nav .wrap-menu {
      font-size: var(--fz_lg);
      padding: 0em 1.2em;
  }

  .circlesContainer {
      gap: 16px;
  }   
      

  .products__container {
      display: flex;
      justify-content: center;
      gap: 16px;
      flex-wrap: wrap;
  
      margin-top: -12vh; 
  }    
  .subtitle--products {
      padding-top: 5vh;
  }
  
  .products__header {
      background-color: var(--main_red);
      height: 25vh;
      border-radius: 16px;
  }
  
  .product-card {
      width: 90%;
      min-width: auto;
  }
  
  .product-card__body{
      padding: 8px;
  }
  
  
  .product__disscount {
      font-size: var(--fz_lg);
  }
}
/*******************************/
/*********  Banner ad **********/
/*******************************/
@media (max-width: 600px) {
  #banner {
      width: 50%; /* Scale to full width on small screens */
      margin-left: 25%;
      margin-right: 25%; 
    }
  }

@media (min-width: 601px) and (max-width: 900px) {
  #banner {
      width: 30%; /* Scale to 75% width on medium screens */
      margin-left: 25%;
      margin-right: 25%; 
  }
  }

@media (min-width: 901px) {
  #banner {
    
      width: 25%; /* Scale to 50% width on large screens */
      margin-left: 25%;
      margin-right: 25%;  
  }
  }
  #banner img {
    width: 50vw;
    height: 50%;
    opacity: 0;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
  }

  #banner img:first-child {
    opacity: 1;
  }
  #bannerblock {
      background: url('/Images/bg_mobile.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
  
      display: block;
      padding-top: 4vh;
      
      box-sizing: border-box; /* Include padding in the total width and height */
      margin-bottom: 40px;
  }

  .bannerblock {
    display: flex;
    justify-content: center;
    background: url('/Images/promo-banner.jpg');
    background-size: cover;
    background-position: 57px -120px;
    height: 500px;
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 10px;
    padding-bottom: 2vw;
  }

  @media (max-width: 1200px) {
    .bannerblock {
      background-position: 0px 0px;
      margin-left: 8vw;
      margin-right: 8vw;
    }
  }
  
  @media (max-width: 768px) {
    .bannerblock {
      background-position: -50px 0px;
      margin-left: 5vw;
      margin-right: 5vw;
    }
  }
  
  @media (max-width: 480px) {
    .bannerblock {
      background-position: -100px 0px;
      margin-left: 3vw;
      margin-right: 3vw;
    }
  }

  .banner-wrapper {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .top-item {
    width: 17vw;
    min-width: 240px; 
  }
  /**********************/
  /*******Search bar*****/
  /**********************/
  @media (max-width: 600px) {
      .search-input
       {
          
          width: 55%;  
        }
        .search-button{
            
          width: 30%;
          margin-left: 0%;
      }
      }
  @media (min-width: 601px) and (max-width: 900px) {
      .search-input {
          width: 60%; 
          
      }
      .search-button{
          width: 40%;
          
          margin-left: 0%;
      }
      }
  @media (min-width: 901px) {
      .search-input {
          width: 200px; 
      }
      .search-button{
          width: 40%;
          margin-left: 0%;
      }
      }
  #search search_body {
      font-family: Arial, sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
      background-color: #f4f4f4;
    }

    .search-container {
      position: relative;
      
     
    }

    .search-input {
    
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .search-button {
      position: absolute;
      
      top: 50%;
      transform: translateY(-50%);
      background-color: var(--main_yellow);
      color: white;
      border: none;
      padding: 6px;
      border-radius: 4px;
      cursor: pointer;
    
    }

/* promo product list */

.promo-products {
  margin-top: 20px;
}

.promo-products-title {
  font-size: 24px;
  margin-bottom: 10px;
  /* margin-left: 5vw; */
}

.promo-products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px; /* Adjust the gap between products as needed */
  padding: 10px 20px;
  margin: 0 10px;
}


.promo-product {
  background: rgb(241, 241, 241);
  border: 1px solid rgb(223, 223, 223);
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.3s ease;
  text-align: center;
  position: relative;
}

.promo-product:hover {
  box-shadow: 4px 16px 36px rgb(204, 204, 204);
  transform: translate(1%, -1%);
}

.promo-product-link {
  text-decoration: none;
  color: #333;
}

.promo-product-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.promo-product-name {
  font-size: 18px;
  margin-top: 10px;
}

.promo-product-description {
  font-size: 14px;
  margin-top: 8px;
}


/* end of promo product list */

/* store list */
.store--cat {
  /* padding-top: 5vh; */
  font-size: var(--fz_lg);
  text-transform: uppercase;
  margin-left: 5vw;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  padding: 5px;

  transition: color 0.3s ease;

  &:hover {
    color: var(--main_yellow);
  }
}

.store--cat .arrow {
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.store--cat .arrow.up {
  transform: rotate(90deg);
}

.stores-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
  margin: 10px;
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 5px 0;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.stores-container::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}

.stores-container::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set the color of the thumb */
}

@media (max-width: 1024px) {
  .stores-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .stores-container {
    grid-template-columns: 1fr;
  }
}
    
/* end of store list */
