.shipping-info-check {
  width: 100%;
  max-width: 860px;
}

.item-quantity_2 {
  font-size: 26px;
  color: #555;
  position: absolute;
  top: 44%;
  left: 70%;
  margin-top: 0;
  font-weight: 900;
  font-family: 'Quicksand', sans-serif;
}
.payment-method {
  margin-bottom: 16px;
}
  .payment-method input[type="radio"] {
    margin: 8px 5px;
  }